html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333; /* Ensure the background color is applied to the entire page */
}

.main-page {
  background-color: #333;
  min-height: 100vh; /* Use min-height to ensure it covers the entire viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-bar {
  width: 100%;
  background-color: #444;
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  outline: 2px solid #888; /* Add a thin outline */
}

.hamburger {
  font-size: 30px;
  background-color: #4CAF50; /* Green background */
  border: 2px solid transparent; /* Add a border */
  border-radius: 10px; /* Remove rounding to make it square */
  box-shadow: 0 0 10px rgb(63, 37, 5); /* Add an outline */
  cursor: pointer;
  color: white; /* Set the color */
  padding: 7px; /* Add some padding */
  margin-right: 20px;
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger:hover {
  background-color: #45a049;
}

.logo {
    width: 30px;
    height: 30px;
    background-color: #45a049; /* Green circle as placeholder */
    border-radius: 50%; /* Make it a circle */
    position: absolute;
    top: 18px;
    left: 15px;
}

.name-logo {
  font-size: 24px;
  color: white;
}

.content {
  margin-top: 60px; /* Add margin to avoid overlap with the top bar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #45a049;
}
  
.sidebar {
    position: fixed;
    top: 50%;
    left: -260px; /* Initially hide the sidebar */
    transform: translateY(-50%); /* Center the sidebar vertically */
    width: 250px;
    height: calc(100% - 4px); /* Shrink the height to add margin at the bottom */
    background-color: #444;
    transition: left 0.3s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    outline: 2px solid #888; /* Add a thin outline */
}

.sidebar.visible {
    left: 0; /* Show the sidebar */
}

.sidebar-content {
    padding-top: 60px;
    padding-left: 20px;
    color: white;
    flex-grow: 1;
}

.close-button {
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
}