/* src/css/Auth.module.css */
.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333; /* Grey background */
  color: white;
}

.authBox {
  background-color: #444; /* Lighter gray box */
  padding: 40px; /* Increase padding for more space inside the box */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center all text, links, and buttons */
  width: 320px; /* Increase width */
  max-width: 90%; /* Ensure it doesn't overflow on smaller screens */
}

.authBox h2 {
  margin-bottom: 20px;
}

.loginInputGroup {
  margin-bottom: 15px;
  text-align: left; /* Align labels to the left */
}

.loginInputGroup label {
  display: block;
  margin-bottom: 5px;
}

.loginInputGroup input {
  width: calc(100% - 20px); /* Make input fields take full width of the box minus padding */
  padding: 10px;
  border: 2px solid #333; /* Original background color */
  border-radius: 5px;
  background-color: #ffffff; /* White background */
}

.loginInputGroup input:focus {
  outline: none;
  border-color: #45a049; /* Green border on focus */
  box-shadow: 0 0 5px #45a049; /* Green shadow on focus */
}

.loginInputGroup input.error {
  border-color: #d02222; /* Red border on error */
}

.errorMessage {
  color: #d02222;
  margin-top: 5px;
  font-size: 14px;
}

.loginButton, .signupButton {
  padding: 10px 20px;
  background-color: #45a049; /* Green button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.loginButton:hover, .signupButton:hover {
  background-color: #3d8b41;
}

.signupLink, .loginLink {
  margin-top: 10px;
  color: white; /* White text link */
  cursor: pointer;
  text-decoration: underline;
}

.signupLink:hover, .loginLink:hover {
  color: #3d8b41;
}