.user-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
  }
  
  .user-icon img {
    width: 40px;
    height: 40px;
  }

.user-initial {
  width: 30px;
  height: 30px;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}